[submodule "external/FTXUI"]
	path = external/FTXUI
	url = https://github.com/ArthurSonzogni/FTXUI.git
[submodule "external/rtaudio"]
	path = external/rtaudio
	url = https://github.com/thestk/rtaudio.git
